
body{
    background-color: #d9dad7;
    font-family: 'Montserrat', sans-serif;
}


#logo{
    width: 130px;
    height: 110px;
}

#navLink{text-decoration: underline;

}
#navHeadStyle{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: end;
}
.nav-color{
    padding: 0;
    background-color: whitesmoke;

}
.title{
    margin-bottom: 26px;
}
.section{
    margin:auto;
}

::placeholder{
    color:#596e79;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
}

#author-input{
    display:inline-block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 28%; 
    text-align: center;
    width: 14%;
    border:3px solid #dfd3c3;
    height: 15%;
    border-radius:6px;

}
#subject-input{
    display:inline-block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;

    right: 42%;
    text-align: center;
    width: 14%;
    height: 15%;
    border:3px solid #dfd3c3;
    border-radius:6px;

}
section {
background-image: url("../images/jefferson-bacquey-habrylo-jefferson-bacquey-hogwarts-library-012.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.section{
    display:block;
    margin-right: auto;
    margin-left: auto;
    padding: 20rem 5.5rem;
}
.button.is-info{
    background-color: #99b27f;
    width: 112%;
    right: 30%;
    height: 92%;
    top: 8%;
    border-radius:6px;
}

.box{
background-color:transparent;
}
#directiontag{
    font-size: 17px;
    color:white;
    margin: 22px;
}
.control{
    z-index:-1;
    
}

td {
    vertical-align: top;
    padding: 5px;

}

label {
    font-weight: bold;
}

.imgTd {
    vertical-align: middle;
    width: 200px;
}

.smallImgTd {
    vertical-align: middle;
    text-align-last: center;
    width: 50px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.favortiteTd {
    width: 50%;
}

.booksTable {
    background-color: #d9dad7;
}

.bookTable {
    color:black;
    border-radius: 10px; 
    border-width: 5px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 4px solid  #99b27f;
    margin-bottom: 4px;
    
}

.bookCover {
    width: 100%;
}

.buttonTd {
    display: flex;
    justify-content: end;
    flex: 1; 
}

#searchtitle{
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
}
#searchCount {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-right: 2%;
}
#previous{
    background-color: #99b27f;
    width: 10%;
    right: 50%;
    height: 92%;
    bottom: 1%;
    border-radius:6px; 
    color: whitesmoke;
    cursor: pointer;
    margin-left: 10px;
}
#next{
    background-color: #99b27f;
    width: 10%;
    right: 50%;
    height: 92%;
    bottom: 1%;
    border-radius:6px;
    color: whitesmoke;
    cursor: pointer;
}
