
body{
    background-color: #f0ece2;
}
*{
    font-family: 'Noto Sans Syloti Nagri', sans-serif;;
}

#logo{width: auto; height: auto;

}

.section{
    margin:auto;
}
::placeholder{
    color:#596e79;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
}

#author-input{
    display:inline-block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 44%; 
    text-align: center;
    width: 14%;
    border:3px solid #dfd3c3;
    height: 15%;
    border-radius:6px;
}
#subject-input{
    display:inline-block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    /* top: 35%; */
    /*bottom: 25%;*/
    right: 60%;
    text-align: center;
    width: 14%;
    height: 15%;
    border:3px solid #dfd3c3;
    border-radius:6px;
}

    section {
        background-image: url("../images/jefferson-bacquey-habrylo-jefferson-bacquey-hogwarts-library-012.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

.section{
    display:block;
    margin-right: auto;
    margin-left: auto;
    padding: 20rem 5.5rem;
}
.button.is-info{
    background-color: #99b27f;
    width: 112%;
    right: 50%;
    height: 92%;
    bottom: 1%;
    border-radius:6px;
}

element.style {
    background-color: #f0ece2;
}
.box{
background-color:transparent;
}

.control{
    z-index:-1;
    
}

td {
    vertical-align: top;
    padding: 5px;
}

label {
    font-weight: bold;
}

.imgTd {
    vertical-align: middle;
    width: 200px;
}

.smallImgTd {
    vertical-align: middle;
    text-align-last: center;
    width: 50px;
}

.favortiteTd {
    width: 50%;
}

.booksTable {
    background-color: #f0ece2;
}

.bookTable {
    background-color: #f7f7f7;
    color:black;
    border-radius: 10px; 
    border-width: 5px;
    border-style: ridge;
    border-color:#596e79;
    width: 100%;
    
}

.bookCover {
    width: 100%;
}

.buttonTd {
    display: flex;
    justify-content: end;
    flex: 1;
}

#searchCount {
    font-size: 20px;
    font-weight: bold;
}
